/* Ethan Lawrence  */
/* 24 MAY 2024 */
/* JS Translator Project */
body {
    background-color: #ccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#container {
    display: grid;
    width: 30vw;
    margin: auto;

    grid-template-columns: 1fr;
    justify-content: center;

    border: 1px solid black;
    padding: 10px;
    background-color: #4ce2c2;
}
#fields {
    width: 25vw;
}
input {
    margin-bottom: 20px;
}
#translation {
    font-size: 1.3rem;
    color: red;
    font-weight: bold;
}

/* Styling '#reset' and preventing '#lang' from being wider then '#container' */
#resetAll {
    display: block;
    background-color: #4ce2c2;
    border: 1px solid black;
    padding: 10px;
    margin: 1rem auto;
}
#resetAll:hover {
    background-color: #2ac0a0;
}
#lang {
    max-width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}